<div class="cards-pokemon">
  <img
  opt-imagem
   class="pure-img"
    [borda]="'1px solid #fff'"
    src="{{pokemon.sprites.front_default}}"
    alt="Sprite de {{ pokemon.name }}">


  <section>

      {{pokemon.name}}
      {{pokemon.id}}
      {{pokemon.base_experience}}

    <div *ngIf="premiado(pokemon.name)">
      <section id="twelve-point-star"></section>
    </div>

      <div class="pure-u-1-3">
          <h4>Tipo</h4>
          <ul>
            <li *ngFor="let item of pokemon.types">
              {{ item.type.name }}
            </li>
          </ul>

      </div>
      <div class="pure-u-1-3">
          <h4>Habilidade</h4>
          <ul>
            <li *ngFor="let item of pokemon.abilities">
              {{ item.ability.name }}
            </li>
          </ul>
      </div>

  </section>

</div>


