<main>
  <div class="center-inputs" [formGroup]="formGroup" novalidate>
    <input formControlName="textoPesquisado" type="search" placeholder="Pesquise seu Pokemon" (keyup)="quandoPrecionarEnter($event); searchTerm$.next($event.target.value)"
      [(ngModel)]="textoPesquisadoModel">
    <button (click)="quandoClicarPesquisar($event)">Buscar</button>
  </div>
</main>

<div *ngIf="isLoading  && clicado" style="text-align: center; margin-top: 50px;">C A R R E G A N D O . . .</div>

<div class="cards-pokemon" *ngIf="resultadoPokemon">
  <figure>
    <img class="pure-img" src="{{resultadoPokemon.sprites.front_default}}" alt="Sprite de {{ resultadoPokemon.name }}">
  </figure>
  <section>
    {{resultadoPokemon.name}} {{resultadoPokemon.id}}
    {{resultadoPokemon.base_experience}}
    <ul>
      <li *ngFor="let resultado of resultadoPokemon.types">
        {{ resultado.type.name }}
      </li>
    </ul>

    <ul>
      <li *ngFor="let resultado of resultadoPokemon.abilities">
        {{ resultado.ability.name }}
      </li>
    </ul>
  </section>
</div>
